@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Quicksand:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
    height: 100vh;
    display: grid;
    grid-template-rows: 55px 230px 370px 47px;
    grid-template-columns: repeat(4, 1fr);
}
header.head{
    background-color: #260101;
    grid-column: 1/5;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    /* gap: 30px; */
}
header.head h1#title{
    color: #F2C299;
    padding-right: 13.5px;
    border-right: 1px #F2C299 solid;
    cursor: default;
}
header.head nav.navlinks{
    display: flex;
}
header.head nav.navlinks a{
    color: #F2C299;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 13.5px;
}
nav.navlinks a#links:hover{
    color: #ffffff;
    background: #00000074;
}
main.midcontent{
    background-image: url("./css-image/pexels-eneida-nieves-905847.jpg");
    background-size: 1300px;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/5;
    grid-row: 2/3;
}
section.content01{
    background-color: #e0dbd2;
    grid-column: 1/3;
    grid-row: 3/4;
    border:  1px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.content01 h2#subtitle{
    margin-top: 50px;
    padding-bottom: 12.5px;
    margin-bottom: 12.5px;
    border-bottom: 1px black solid;
}
section.content01 form.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.content01 form.forms input#CalcInput{
    height: 30px;
    width: 200px;
    text-align: center;
}
section.content02{
    background-color: #F2EFE9;
    grid-column: 3/5;
    grid-row: 3/4;
    border:  0.5px black solid;
}
footer.foot{
    background-color: #A66641;
    grid-row: 4/6;
    grid-column: 1/5;
}
